@charset "UTF-8";
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline
}

body {
	line-height: 1;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	overflow-x: hidden
}

ol, ul {
	list-style: none
}

blockquote, q {
	quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

br {
	font-size: 0
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

a {
	text-decoration: none
}

button {
	border: 0
}

::-moz-focus-inner, ::-moz-focus-outer {
	border: 0;
	padding: 0
}

a:-moz-focusring, select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000
}

:active, :focus, :hover, :visited, a, a:active, a:focus, a:hover, a:visited {
	outline: 0 !important
}

::-moz-focus-inner {
	border: 0;
	outline: 0
}

img {
	max-width: 100%
}

svg {
	overflow: hidden
}

.container {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 10px
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }

::-ms-clear {
	display: none;
}
